@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Space+Mono&family=Work+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background: hsl(214, 10%, 9%);
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: var(--background);
}
